@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
}

.header {
  margin-left: 90px;
  margin-right: 90px;
  padding: 35px;
}

.nav__list {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 25px;
  font-family: "karla";
  font-size: 16px;
  color: grey;
  font-weight: bold;
  list-style: none;
  float: right;
}

.nav__mobile {
  display: none;
}

#view {
  border: 1px solid black;
  padding: 10px;
  width: 150px;
  text-align: center;
  color: black;
}

.nav__image {
  margin-top: 15px;
  display: flex;
  float: left;
}

.main_section_inicio {
  height: 550px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  position: relative;
}

#lineas__derecha {
  float: right;
  height: 500px;
  z-index: 2;
  position: absolute;
  left: 1003px;
  top: 0px;
}


.main_article_inicio {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

#lineas__izquierda {
  position: absolute;
  top: 380px;
}

#texto__inicio {
  margin-left: 150px;
}

#list_view_plans {
  margin-left: 150px;
  list-style: none;
  border: 1px solid white;
  padding: 10px;
  width: 150px;
  text-align: center;
}

h1 {
  margin-top: 100px;
  margin-left: 150px;
  font-family: serif;
  font-size: 60px;
}

#hr__inicio {
  margin-left: 150px;
  width: 130px;
  border: solid 1px white;
  position: relative;
  top: 90px;

}

.main__imagedos {
  display: none;
}

.main__image {
  display: flex;
  width: 500px;
  position: absolute;
  right: 170px;
  top: 80px;
  z-index: 1;
}

h2 {
  font-family: serif;
  font-size: 60px;
  color: hsl(270, 9%, 17%);
}

.we__are {
  margin-left: 90px;
}

#hr__we {
  border: none;
  border-top: solid 1px hsl(216, 30%, 68%);
  left: 0px;
  position: relative;
  width: 130px;
}

.main_section_centro {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.main_section_centro p {
  line-height: 25.0px;
  color: hsl(215, 11%, 59%);
}

h4 {
  color: hsl(270, 9%, 17%);
  font-family: serif;
  font-size: 22px;
  font-weight: bold;
}

.snappy {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.prices {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.people {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.main__final {
  display: flex;
  justify-content: center;
  background-color: hsl(256, 26%, 20%);
  color: white;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
}

h3 {
  font-family: serif;
  font-size: 40px;
  margin: 60px 0px 50px 50px;

}

#how_we_work {
  list-style: none;
  border: 1px solid white;
  padding: 5px;
  height: 30px;
  width: 150px;
  color: white;
  font-size: 12px;
  font-family: serif;
  text-align: center;
  position: relative;
  top: 100px;
  left: 650px;
}

.img__final {
  float: right;
  size: 80px;
  margin-left: 280px;
}

.footer__nav {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 40px;
}

.footer__image {
  display: flex;
  justify-content: left;
  top: 20px;
  position: relative;

}

.footer__list {
  display: flex;
  gap: 25px;
  list-style: none;
  float: right;
}

#hr__footer {
  margin-left: 90px;
  margin-right: 90px;
  width: 1265px;
  border: none;
  border-top: 1px solid hsl(216, 5%, 82%);
}

.footer__div div {
  display: flex;
  justify-content: space-around;
}

.tittle {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: hsl(216, 30%, 68%);
  font-weight: bold;

}

.footer_div_list {
  list-style: none;
  font-family: "Karla", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  float: left;
  margin-left: 90px;
  margin-right: 90px;
}

.footer__div{
  gap: 50px;
  display: flex;
   justify-content: center;
}

.footer{
  width: 1440px;
  background-color: rgb(248, 246, 246);
  z-index: 2;
  position: absolute;

}

#lineas__footer{
  display: flex;
  margin-top: 10px;
  width: 90px;
  z-index: 1;position:absolute ;
}

#lineas__footerdos{
  display: none;
}

#lineas__derechados{
  display: none;
}

#lineas__findout{
  display: none;  
}

#lineas__izquierdados{
  display: none;
}

/* ----------------------------------------------------- */
@media(max-width: 375px){
  body{
      width: 375px;
      .nav__list{display: none;}
  }

  .header {
      width: 570px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 35px;
  }

  .nav__mobile{
      display: block ;
      float: right;
  }

  .nav__image {
      margin: 0%;
  }

  .main__image {
    display: none;
  }

  .main__imagedos{
      display: flex;
      position: static;
      width: 800px;
      height: 709px;
  }

  .main_section_inicio {
      width: 589px;
      height: 550px;
      background-color: hsl(256, 26%, 20%);
      color: white;
      top: -5px;
      
  }

 
  .main_article_inicio {
      font-family: "Karla", sans-serif;
      font-size: 16px;
     right: 72px;
     top: -31px;
     position: relative;
     text-align: center;
  }

  #texto__inicio {
      margin-left: 150px;
  }

  #list_view_plans {
      margin-left: 300px;
      list-style: none;
      border: 1px solid white;
      padding: 10px;
      width: 150px;
      text-align: center;
      margin-top: 20px;
  }
  #hr__we {
      border: none;
      border-top: solid 1px hsl(216, 30%, 68%);
      left: 140px;
      position: relative;
      width: 130px;
  }
  .we__are{
      width: 375px;
      margin-left: 100px;

  }
  .we__are h2{
      font-family: serif;
      font-size: 57px;
      color: hsl(270, 9%, 17%);
      
      text-align: center;
  }
  .main_article_inicio h1 {
      margin-top: 100px;
      margin-left: 141px;
      font-family: serif;
      font-size: 60px;
      
  }
  .main_section_centro {
      display: inline-block;
           
   }


  .snappy{
      margin-left: 15px;
      width: 375px;
      text-align: center;
  }
  .people{
      margin-left: 15px;
      width: 375px;
      text-align: center;
  }
  
  .prices{
      margin-left: 15px;
      width: 375px;
      text-align: center;
  }

  .main__final {
      
      justify-content: center;
      background-color: hsl(256, 26%, 20%);
      color: white;
      margin-left: 70px;
      margin-right: 0px;
      text-align: center;
      width: 450px;
      height: 350px;
  }
  .main__final br {
      display: none;
  }

  h3 {
      font-family:serif;
      font-size: 39px;
      margin: 60px 40px 50px 110px;
  
  }
  #how_we_work {
      
      list-style: none;
      border: 1px solid white;
      width: 250px;
      height: 30px;
      left: -180px;
      color: white;
      font-size: 10px;
      top: 270px;
  }
  .footer{
      
      width: 587px;
  }

  .footer__image {
     
      justify-content: center;
      top: 10px;

  }
  .footer__list {
   
      margin-right: 120px;
      gap: 25px;
      list-style: none;
      margin-top: 40px;
    margin-left: 50px;
    display: flex;
    position: relative;
      
  }
 
  #lineas__derecha{
      display: none;
  }

  #lineas__izquierda{
      display: none;
  }

  .img__final{
      display: none;
  }

  #lineas__footer{
      display: none;
  }

  
  #hr__footer{
      width: 542px;
      margin-left: 25px;
      margin-top: 70px;
  }
  .footer__div  {
      display: inline-block;
      
  }
  .footer__div div{
      text-align: center;
      margin-left: 25px;
      
  }
  .footer_div_list {
      list-style: none;
      font-family: "Karla", sans-serif;
      color: hsl(0, 0%, 0%);
      font-size: 14px;
      font-weight: bold;
      line-height: 25px;
      width: 500px;
      margin-left: 20px;
  }

  #hr__inicio{
      display: none;
  }

  #lineas__footerdos{
      display: flex;
      position:absolute;
      width: 900px;
      height: 270px;

  }

  #lineas__derechados{
      display: flex;
      position:absolute;
      width: 900px;
      height: 470px;
      margin-left: 410px;
      margin-top: -130px;
  }

  #lineas__findout{
      display: flex;
      position:absolute;
      width: 900px;
      height: 350px;
      margin-left: 960px;
      margin-top: 0px;
  }

  #lineas__izquierdados{
      display: flex;
      position:absolute;
      width: 900px;
      height: 220px;
      margin-left: 0px;
      margin-top: -470px;
  }

  
}