@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-left: 90px;
  margin-right: 90px;
  padding: 35px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  color: hsl(216, 30%, 68%);
  font-weight: 400;
  list-style: none;
}

#view {
  border: 1px solid black;
  padding: 10px;
  width: 150px;
  text-align: center;
  color: black;
}

.nav__image {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#lineas__derecha {
  display: flex;
  justify-content: right;
  height: 400px;
}

.main__section__inicio {
  display: flex;
  height: 550px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  padding: 90px;
  position: relative;
}

.main__article__inicio {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

#texto__inicio {
  margin-left: 40px;
}

#list__view__plans {
  margin-left: 40px;
  list-style: none;
  border: 1px solid white;
  padding: 10px;
  width: 150px;
  text-align: center;
}

h1 {
  margin-left: 40px;
  font-family: serif;
  font-size: 60px;
}

hr {
  margin-left: 40px;
  width: 130px;
  border: solid 1px gray;
}

.main__image {
  display: flex;
  justify-content: right;
  width: 600px;
  position: absolute;
  right: 50px;
}

.figure__lineas {
  display: flex;
  justify-content: left;
  position: absolute;

}

h2 {
  font-family: serif;
  font-size: 50px;
  color: hsl(270, 9%, 17%);
}

.main__section__centro {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

h4 {
  color: hsl(270, 9%, 17%);
  font-family: serif;
  font-size: 22px;
  font-weight: bold;
}

.snappy {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.prices {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.people {
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.main__final {
  display: flex;
  justify-content: center;
  background-color: hsl(256, 26%, 20%);
  color: white;
  margin-left: 90px;
  margin-right: 90px;
  position: relative;
}

h3 {
  font-family: serif;
  font-size: 50px;
  margin: 20px;
}

#how_we_work {
  list-style: none;
  border: 1px solid white;
  padding: 5px;
  height: 30px;
  margin: 15px;
  color: white;
  font-size: 12px;
  font-family: serif;
  text-align: center;
  position: relative;
  top: 100px;
  left: 380px;
}

.image__final {
  display: flex;
  justify-content: right;
  size: 80px;
  margin-left: 80px;
}

.footer__nav {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
}

.footer__image {
  display: flex;
  justify-content: left;

}

.footer__list {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 25px;
  list-style: none;
}

#hr__footer {
  margin-left: 90px;
  margin-right: 90px;
  width: 1325px;
  border: solid 1px gray;
}

.footer__div div {
  display: flex;
  justify-content: space-around;
}

.tittle {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  color: hsl(216, 30%, 68%);
  font-weight: bold;

}

.footer__div__list {
  list-style: none;
  font-family: "Karla", sans-serif;
  color: hsl(270, 9%, 17%);
  font-size: 12px;
  font-weight: bold;
}